In [22]:
#import all modules and stuff
import pyaudio
import pandas as pd
import json
import requests

# this turns off warning messages
import warnings
warnings.filterwarnings('ignore')

In [31]:
website = 'http://www.statsf1.com/en/nations.aspx'

classes = pd.DataFrame()
datalist = pd.read_html(website)
classes = classes.append(datalist)
classes

   Nations 2018 (15 nations)  Begin in   Winner   World Champion   Unnamed: 4
0                  Australia        NaN   1952.0              NaN         NaN
1                    Belgium        NaN   1950.0              NaN         NaN
2                     Canada        NaN   1952.0              NaN         NaN
3                    Denmark        NaN   1973.0              NaN         NaN
4                    Finland        NaN   1974.0              NaN         NaN
5                     France        NaN   1950.0              NaN         NaN
6                    Germany        NaN   1950.0              NaN         NaN
7                     Mexico        NaN   1961.0              NaN         NaN
8                     Monaco        NaN   1950.0              NaN         NaN
9                Netherlands        NaN   1952.0              NaN         NaN
10               New Zealand        NaN   1958.0              NaN         NaN
11                    Russia        NaN   2010.0              NaN         NaN
12                     Spain        NaN   1951.0              NaN         NaN
13                    Sweden        NaN   1951.0              NaN         NaN
14            United Kingdom        NaN   1950.0              NaN         NaN
15                       NaN        NaN      NaN              NaN         NaN

In [18]:
# NOTE: this example requires PyAudio because it uses the Microphone class

import speech_recognition as sr

# obtain audio from the microphone
r = sr.Recognizer()
with sr.Microphone() as source:
    print("Say something!")
    audio = r.listen(source)


# recognize speech using IBM Speech to Text
IBM_USERNAME = "02a93561-f0f4-4c01-aa41-9cd6f203bddc"  # IBM Speech to Text usernames are strings of the form XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX
IBM_PASSWORD = "S6Jtf2u4yqxa"  # IBM Speech to Text passwords are mixed-case alphanumeric strings
try:
    audio_input = r.recognize_ibm(audio, username=IBM_USERNAME, password=IBM_PASSWORD)
    
    print("Computer thinks you said " + audio_input)
except sr.UnknownValueError:
    print("IBM Speech to Text could not understand audio")
except sr.RequestError as e:
    print("Could not request results from IBM Speech to Text service; {0}".format(e))

Say something!
Computer thinks you said I don't soon friend

In [20]:
from os import system

audio_input = audio_input.replace("'"," ")
system('say ' + audio_input)

0

In [10]:
type(audio_input)

str