# Now You Code 4: Exam Scores

In this example, write a program to load the exam-scores data set here: 
https://raw.githubusercontent.com/mafudge/datasets/master/exam-scores/exam-scores.csv 
into a Pandas DataFrame

It should then ask for two user inputs:

- An Class Section (example: M01 or M02)
- An Exam version (A, B, C, or D)

It should ONLY accept those values for Class Section and Exam Version. Any other inputs and it should print 'Invalid Entry' and not display the data frame.

With valid inputs it should filter the DataFrame to only those rows matching the input (for example section M01, version A)

And display only the Student Score and Letter Grade for each student matching the inputs.

**HINT**: The very last line in your code should output the dataframe variable. Set it to None in the case of invalid inputs.

## Step 1: Problem Analysis for entire program

Inputs: 
a csv file, class sction, exam version
Outputs:
grades, student score dataframe
Algorithm (Steps in Program):

import pandas and numpy
input class section
input exam version 

create conditions
if exam section 01 ver a
    get es01verA
    if ver b
        get es01 ver b
    if verc
        get es01 verc
    if verd
        get es01 verd
if es 02 ver a
    get es02vera
    if verb
       get ver b
   if verc
       get es01 verc
    if verd
        get es01 verd

VERSION 2
============
- input class section make it upper case
- input exam version make it upper case
- create list with class section
- create list with exam version
- go through the file and find the input

In [1]:
# Step 2: write code here
import pandas as pd
import numpy as np

# this turns off warning messages
import warnings
warnings.filterwarnings('ignore')

In [35]:
classSection = input("Enter a section ['M01', 'M02']: ").upper()
examVersion = input("Enter an exam version ['A', 'B', 'C', 'D']: ").upper()
#find the class section colum == classSection and exam Version colum == examVersion
student_score = scores[scores['Class Section'] == classSection][scores['Exam Version']==examVersion][['Student Score','Letter Grade']]
student_score

Enter a section ['M01', 'M02']: M01
Enter an exam version ['A', 'B', 'C', 'D']: C

    Student Score Letter Grade
14             26           B+
15             23           B-
16             22           C+
17             23           B-
18             27           A-
19             23           B-
20             22           C+

In [37]:
classSection = input("Enter a section ['M01', 'M02']: ")
examVersion = input("Enter an exam version ['A', 'B', 'C', 'D']: ").upper()
#filter the class section colum == classSection and exam Version colum == examVersion 
#last two lists r to find and output the column i want
student_score = scores[scores['Completion Time'] == classSection][scores['Did Exam Prep Assignment']==examVersion][['Percentage','Studied In Groups']]
student_score

Enter a section ['M01', 'M02']: 55
Enter an exam version ['A', 'B', 'C', 'D']: N

TypeError: invalid type comparison

In [22]:
print(class_section,exam_version)

M01 C

In [23]:
student_score = scores[scores['Class Section'] == class_section][scores['Exam Version']==exam_version][['Student Score','Letter Grade']]

In [24]:
student_score

    Student Score Letter Grade
14             26           B+
15             23           B-
16             22           C+
17             23           B-
18             27           A-
19             23           B-
20             22           C+

In [4]:
scores = pd.read_csv('https://raw.githubusercontent.com/mafudge/datasets/master/exam-scores/exam-scores.csv')
scores.sample(3)

,Class Section,Exam Version,Completion Time,Made Own Study Guide,Did Exam Prep Assignment,Studied In Groups,Student Score,Percentage,Letter Grade
25,M01,D,55,Y,N,N,20,66.70%,C
0,M01,A,20,N,N,Y,24,80.00%,B
36,M02,A,55,Y,Y,N,25,83.30%,B

In [38]:
type(scores)

pandas.core.frame.DataFrame

In [39]:
type(student_score)

pandas.core.frame.DataFrame

In [6]:
scores['Letter Grade' & 'Student Score']

TypeError: unsupported operand type(s) for &: 'str' and 'str'

In [ ]:
class_section = input("what is your class section?")
exam_version = input("what is your exam version?")

## Step 3: Questions

1. Pandas programs are different than typical Python programs. Explain the process by which you got the final solution?

- I tested out how to filter the data frame and see how filters afftect the output
- i also focused less on algorithm because what I think is different from pandas think
    - turns out i don't need if statements
- 

2. What was the most difficult aspect of this assignment? 
- navigate the df and print the columns i want

In [21]:
# Sample Run, so you can see expected output

Enter a section ['M01', 'M02'] :M02
Enter an exam version ['A', 'B', 'C', 'D']C

    Student Score Letter Grade
48             28           A-
49             24            B
50             23           B-
51             23           B-
52             16            D
53             20            C
54             21           C+
55             25            B
56             16            D

## Reminder of Evaluation Criteria

1. What the problem attempted (analysis, code, and answered questions) ?
2. What the problem analysis thought out? (does the program match the plan?)
3. Does the code execute without syntax error?
4. Does the code solve the intended problem?
5. Is the code well written? (easy to understand, modular, and self-documenting, handles errors)