# End-To-End Example: Data Analysis of iSchool Classes

In this end-to-end example we will perform a data analysis in Python Pandas we will attempt to answer the following questions:

- What percentage of the schedule are undergrad (course number 500 or lower)?
- What undergrad classes are on Friday? or at 8AM?

Things we will demonstrate:

- `read_html()` for basic web scraping
- dealing with 5 pages of data
- `append()` multiple `DataFrames` together
- Feature engineering (adding a column to the `DataFrame`)

The iSchool schedule of classes can be found here: https://ischool.syr.edu/classes

In [2]:
import pandas as pd

# this turns off warning messages
import warnings
warnings.filterwarnings('ignore')

In [5]:
df = pd.DataFrame({
...     'col1' : ['A', 'A', 'B', np.nan, 'D', 'C'],
...     'col2' : [2, 1, 9, 8, 7, 4],
...     'col3': [0, 1, 9, 4, 2, 3],

SyntaxError: unexpected EOF while parsing (<ipython-input-5-e5af70222750>, line 4)

In [6]:
classes = pd.DataFrame()
classes.sort_values(by=['Course'])
for num in range(1,6):
    website = 'http://www.4mula1.ro/s/?cdx=1fc2934&idd=924'
    datalist = pd.read_html(website)
    classes = classes.append(datalist [0])
    #|website = 'https://ischool.syr.edu/classes/fall-2018/?page=2'
    datalist = pd.read_html(website)
    classes = classes.append(datalist [0])
classes

KeyError: 'Course'

In [4]:
website = 'http://www.4mula1.ro/s/?cdx=1fc2934&idd=924'
datalist = pd.read_html(website)
print(datalist)

[       0           1                  2               3         4    5    6  \
0      #        Date          GrandPrix          Driver      Team  Pos  Pol
1      1  2007-03-18          Melbourne  Lewis Hamilton   McLaren    3    4
2      2  2007-04-08             Sepang  Lewis Hamilton   McLaren    2    4
3      3  2007-04-15            Bahrain  Lewis Hamilton   McLaren    2    2
4      4  2007-05-13          Catalunya  Lewis Hamilton   McLaren    2    4
5      5  2007-05-27        Monte Carlo  Lewis Hamilton   McLaren    2    2
6      6  2007-06-10           Montreal  Lewis Hamilton   McLaren    1    1
7      7  2007-06-17       Indianapolis  Lewis Hamilton   McLaren    1    1
8      8  2007-07-01        Magny-Cours  Lewis Hamilton   McLaren    3    2
9      9  2007-07-08        Silverstone  Lewis Hamilton   McLaren    3    1
10    10  2007-07-22        Nurburgring  Lewis Hamilton   McLaren    9   10
11    11  2007-08-05        Hungaroring  Lewis Hamilton   McLaren    1    1
12    12  2007-08-26           Istanbul  Lewis Hamilton   McLaren    5    2
13    13  2007-09-09              Monza  Lewis Hamilton   McLaren    2    2
14    14  2007-09-16  Spa-Francorchamps  Lewis Hamilton   McLaren    4    4
15    15  2007-09-30               Fuji  Lewis Hamilton   McLaren    1    1
16    16  2007-10-07           Shanghai  Lewis Hamilton   McLaren   19    1
17    17  2007-10-21         Interlagos  Lewis Hamilton   McLaren    7    2
18    18  2008-03-16          Melbourne  Lewis Hamilton   McLaren    1    1
19    19  2008-03-23             Sepang  Lewis Hamilton   McLaren    5    9
20    20  2008-04-06            Bahrain  Lewis Hamilton   McLaren   13    3
21    21  2008-04-27          Catalunya  Lewis Hamilton   McLaren    3    5
22    22  2008-05-11           Istanbul  Lewis Hamilton   McLaren    2    2
23    23  2008-05-25        Monte Carlo  Lewis Hamilton   McLaren    1    3
24    24  2008-06-08           Montreal  Lewis Hamilton   McLaren   19    1
25    25  2008-06-22        Magny-Cours  Lewis Hamilton   McLaren   10   13
26    26  2008-07-06        Silverstone  Lewis Hamilton   McLaren    1    4
27    27  2008-07-20         Hockenheim  Lewis Hamilton   McLaren    1    1
28    28  2008-08-03        Hungaroring  Lewis Hamilton   McLaren    5    1
29    29  2008-08-24           Valencia  Lewis Hamilton   McLaren    2    2
..   ...         ...                ...             ...       ...  ...  ...
183  183  2016-10-02             Sepang  Lewis Hamilton  Mercedes   18    1
184  184  2016-10-09             Suzuka  Lewis Hamilton  Mercedes    3    2
185  185  2016-10-23             Austin  Lewis Hamilton  Mercedes    1    1
186  186  2016-10-30        Mexico City  Lewis Hamilton  Mercedes    1    1
187  187  2016-11-13         Interlagos  Lewis Hamilton  Mercedes    1    1
188  188  2016-11-27          Abu Dhabi  Lewis Hamilton  Mercedes    1    1
189  189  2017-03-26          Melbourne  Lewis Hamilton  Mercedes    2    1
190  190  2017-04-09           Shanghai  Lewis Hamilton  Mercedes    1    1
191  191  2017-04-16            Bahrain  Lewis Hamilton  Mercedes    2    2
192  192  2017-04-30              Sochi  Lewis Hamilton  Mercedes    4    4
193  193  2017-05-14          Catalunya  Lewis Hamilton  Mercedes    1    1
194  194  2017-05-28        Monte Carlo  Lewis Hamilton  Mercedes    7   13
195  195  2017-06-11           Montreal  Lewis Hamilton  Mercedes    1    1
196  196  2017-06-25               Baku  Lewis Hamilton  Mercedes    5    1
197  197  2017-07-09            A1 Ring  Lewis Hamilton  Mercedes    4    8
198  198  2017-07-16        Silverstone  Lewis Hamilton  Mercedes    1    1
199  199  2017-07-30        Hungaroring  Lewis Hamilton  Mercedes    4    4
200  200  2017-08-27  Spa-Francorchamps  Lewis Hamilton  Mercedes    1    1
201  201  2017-09-03              Monza  Lewis Hamilton  Mercedes    1    1
202  202  2017-09-17          Singapore  Lewis Hamilton  Mercedes    1    5
203  203  2017-10-01             Sepang  Lewis Hamilton  Mercedes    2    1
204  204  2017-10-08             Suzuka  Lewis Hamilton  Mercedes    1    1
205  205  2017-10-22             Austin  Lewis Hamilton  Mercedes    1    1
206  206  2017-10-29        Mexico City  Lewis Hamilton  Mercedes    9    3
207  207  2017-11-12         Interlagos  Lewis Hamilton  Mercedes    4   20
208  208  2017-11-26          Abu Dhabi  Lewis Hamilton  Mercedes    2    2
209  209  2018-03-25          Melbourne  Lewis Hamilton  Mercedes    2    1
210  210  2018-04-08            Bahrain  Lewis Hamilton  Mercedes    3    9
211  211  2018-04-15           Shanghai  Lewis Hamilton  Mercedes    4    4
212  212  2018-04-29               Baku  Lewis Hamilton  Mercedes    1    2

          7    8            9
0    Points   FL         Time
1      6.00  NaN   -00:18.595
2      8.00  NaN   -00:17.400
3      8.00  NaN   -00:02.360
4      8.00  NaN   -00:06.799
5      8.00  NaN   -00:04.095
6     10.00  NaN  1:44:11.292
7     10.00  NaN  1:31:09.965
8      6.00  NaN   -00:32.153
9      6.00  NaN   -00:39.300
10      NaN  NaN       -1 lap
11    10.00  NaN  1:35:52.991
12     4.00  NaN   -00:45.085
13     8.00  NaN    -00:06.02
14     5.00  NaN   -00:23.615
15    10.00  NaN  2:00:34.579
16      NaN  NaN      3- laps
17     2.00  NaN       -1 lap
18    10.00  NaN  1:34:50.616
19     4.00  NaN   -00:46.548
20      NaN  NaN       -1 lap
21     6.00  NaN   -00:04.100
22     8.00  NaN   -00:03.779
23    10.00  NaN  2:00:42.742
24      NaN  NaN      19 laps
25      NaN  NaN   -00:54.500
26    10.00  NaN  1:39:09.440
27    10.00  NaN  1:31:20.875
28     4.00  NaN   -00:23.048
29     8.00  NaN   -00:05.611
..      ...  ...          ...
183     NaN  NaN      40 laps
184   15.00  NaN   -00:05.776
185   25.00  NaN  1:38:12.618
186   25.00  NaN  1:40:31.402
187   25.00  NaN  3:01:01.335
188   25.00  NaN  1:38.04.013
189   18.00  NaN   -00:09.975
190   25.00  NaN  1:37:36.160
191   18.00  NaN   -00:06.660
192   12.00  NaN   -00:36.320
193   25.00  NaN  1:35:56.497
194    6.00  NaN   -00:15.801
195   25.00  NaN  1:33:05.154
196   10.00  NaN   -00:06.188
197   12.00  NaN   -00:07.430
198   25.00  NaN  1:21:27.430
199   12.00  NaN   -00:12.885
200   25.00  NaN  1:24:42.082
201   25.00  NaN  1:15:32.312
202   25.00  NaN  2:03:23.543
203   18.00  NaN   -00:12.770
204   25.00  NaN  1:27.31.194
205   25.00  NaN  1:33:50.991
206    2.00  NaN       -1 lap
207   12.00  NaN   -00:05.468
208   18.00  NaN   -00:03.899
209   18.00  NaN   -00:05.036
210   15.00  NaN   -00:06.512
211   12.00  NaN   -00:16.985
212   25.00  NaN  1:43:44.291

[213 rows x 10 columns]]

In [7]:
def get_classes_from_website():
    classes = pd.DataFrame()
    for num in range(0,6):
        website = 'https://www.formula1.com/en/championship/races/2017/Australia.html'
        datalist = pd.read_html(website)
        classes = classes.append(datalist[0])
    return classes

In [15]:
classes = get_classes_from_website.dropna()
classes.sample(5)

AttributeError: 'function' object has no attribute 'dropna'

In [9]:
classes[classes['Credits'] == 3]
#how do panda filter index

KeyError: 'Credits'

In [10]:
def engineer_grad_ugrad(classes):
    classes['CourseNum'] = classes['Course'].str[3:]
    classes['Type'] = 'None'
    classes['Type'][classes['CourseNum'].astype(int)>= 500] = 'G' #retrieve that course number as type integer
    classes['Type'][classes['CourseNum'].astype(int)<500] = 'U'
    return classes

In [11]:
classes = get_classes_from_website()
classes = engineer_grad_ugrad(classes)

ValueError: No tables found

In [12]:
ugrad = classes[classes['Type'] == 'U']
friday = ugrad[ugrad['IST'].str.find("")>=0]
friday

KeyError: 'Type'

In [14]:
# just figure out how to get the data
website = 'https://ischool.syr.edu/classes/'
data = pd.read_html(website)
data[0]

,Course,Section,Class,Credits,Title,Instructor(s),Time,Day,Room(s)
0,GET471,M801,70843,1.0,GET Internship,NaN,12:00am - 12:00am,NaN,NaN
1,IST387,M001,72570,3.0,Intro to Applied Data Science,Jeffrey Saltz,9:00am - 5:00pm,MTuWThF,Hinds Hall 018
2,IST471,M002,70840,1.0,Internship in Info Mgmt & Tech,Susan Monica Bonzi,1:00am - 1:00am,NaN,NaN
3,IST471,M003,70849,1.0,Internship in Info Mgmt & Tech,Susan Monica Bonzi,12:00am - 12:00am,NaN,NaN
4,IST471,M001,70899,1.0,Internship in Info Mgmt & Tech,Susan Monica Bonzi,12:00am - 12:00am,NaN,NaN
5,IST472,M800,70865,1.0,Coop Educ in Info Mgmt & Tech,NaN,12:00am - 12:00am,NaN,NaN
6,IST472,M801,70866,1.0,Coop Educ in Info Mgmt & Tech,NaN,12:00am - 12:00am,NaN,NaN
7,IST511,M401,70875,3.0,Intro to Library & Info Prof,DeAnna R Miller,7:00pm - 8:30pm,W,Online
8,IST511,M402,72400,3.0,Intro to Library & Info Prof,Alison J Johnson,9:00pm - 10:30pm,M,Online
9,IST564,M400,72344,3.0,Lib Svces to Students w/Disab,William N. Myhill,7:00pm - 8:30pm,M,Online
10,IST564,M401,72399,3.0,Lib Svces to Students w/Disab,William N. Myhill,7:00pm - 8:30pm,Th,Online
11,IST565,M001,70856,3.0,Data Mining,Bei Yu,9:00am - 5:00pm,MTuWThF,Hinds Hall 013
12,IST565,M400,72439,3.0,Data Mining,Ying Lin,9:00pm - 10:30pm,Th,Online
13,IST565,M401,72440,3.0,Data Mining,Ying Lin,9:00pm - 10:30pm,Su,Online
14,IST565,M402,72441,3.0,Data Mining,Dr. Ami M Gates,1:00pm - 2:30pm,Su,Online
15,IST565,M403,72442,3.0,Data Mining,Dr. Ami M Gates,3:00pm - 4:30pm,Su,Online
16,IST600,M200,70869,3.0,WISE: Informal Learning Spaces,Blythe Bennett,12:00am - 12:00am,NaN,Online
17,IST600,M201,70870,1.0,WISE: Graphic Novels,Blythe Bennett,12:00am - 12:00am,NaN,Online
18,IST600,M203,70871,3.0,WISE: Proj Mgmt: Strat/Applica,Blythe Bennett,12:00am - 12:00am,NaN,Online
19,IST600,M001,72173,3.0,Adv TopicsUser Experience UX,Ping Zhang,9:00am - 5:00pm,MTuWThF,Hinds Hall 111
20,IST600,M202,72421,2.0,WISE: Soc Justice in Youth Lit,Blythe Bennett,7:00pm - 9:00pm,W,Online
21,IST602,M001,70853,3.0,Digital Forensics,Mark M. Pollitt,9:00am - 5:00pm,MTuWThFSa,Hinds Hall 027
22,IST605,M400,72401,3.0,Reference& Info Literacy Svces,Rebecca K. Miller,7:00pm - 8:30pm,W,Online
23,IST605,M402,72537,3.0,Reference& Info Literacy Svces,Rebecca K. Miller,9:00pm - 10:30pm,Tu,Online
24,IST612,M400,72402,3.0,Youth Svce inLibrary Info Ctrs,Kori M Gerbig,7:00pm - 8:30pm,W,Online
25,IST614,M400,70879,3.0,Mngmt Prncpls for Info Profess,Dr. John P. Stinnett,7:00pm - 8:30pm,M,Online
26,IST614,M401,70880,3.0,Mngmt Prncpls for Info Profess,Dr. John P. Stinnett,9:00pm - 10:30pm,M,Online
27,IST614,M402,72406,3.0,Mngmt Prncpls for Info Profess,Dr. John P. Stinnett,9:00pm - 10:30pm,Tu,Online
28,IST616,M400,70863,3.0,Info Rsces: Organiz & Access,Arden Kirkland,7:00pm - 8:30pm,Th,Online
29,IST616,M401,70881,3.0,Info Rsces: Organiz & Access,Arden Kirkland,7:00pm - 8:30pm,Tu,Online
30,IST618,M400,70864,3.0,Information Policy,Martha A. Garcia-Murillo,7:00pm - 8:30pm,Tu,Online
31,IST618,M401,70883,3.0,Information Policy,Martha A. Garcia-Murillo,7:00pm - 8:30pm,W,Online
32,IST618,M402,72403,3.0,Information Policy,Lauren Britton,7:00pm - 8:30pm,M,Online
33,IST621,M400,70884,3.0,Intro to Information Mgmt.,Angela Usha Ramnarine-Rieks,9:00pm - 10:30pm,Tu,Online
34,IST623,M400,70885,3.0,Intro to Information Security,Joon S. Park,5:00pm - 6:30pm,W,Online
35,IST625,M001,70857,3.0,Enterprise Risk Management,James Enwright,9:00am - 5:00pm,MTuWThF,Hinds Hall 018
36,IST625,M400,72475,3.0,Enterprise Risk Management,Michael Larche,7:00pm - 8:30pm,M,Online
37,IST636,M400,72407,3.0,Leading Issues/Info Security,Joon S. Park,7:00pm - 8:30pm,W,Online
38,IST639,M001,72325,3.0,Enterprise Technologies,P Douglas Taber,9:00am - 5:00pm,MTuWThF,Hinds Hall 010
39,IST645,M400,70887,3.0,Managing Info Systems Projects,Robert A Emborski,7:00pm - 8:30pm,Th,Online
40,IST652,M400,72408,3.0,Scripting for Data Analysis,NaN,5:00pm - 6:30pm,Th,Online
41,IST652,M401,72409,3.0,Scripting for Data Analysis,NaN,5:00pm - 6:30pm,W,Online
42,IST654,M400,70889,3.0,Information Systems Analysis,Gregory Zink,7:00pm - 8:30pm,Tu,Online
43,IST654,M001,72174,3.0,Information Systems Analysis,Ping Zhang,9:00am - 5:00pm,MTuWThF,Hinds Hall 111
44,IST659,M400,70892,3.0,Data Admin Concepts & Db Mgmt,Dr. Gregory Block,4:00pm - 5:30pm,Su,Online
45,IST659,M401,72410,3.0,Data Admin Concepts & Db Mgmt,Chad Aaron Harper,7:00pm - 8:30pm,M,Online
46,IST659,M402,72411,3.0,Data Admin Concepts & Db Mgmt,Chad Aaron Harper,9:00pm - 10:30pm,M,Online
47,IST659,M403,72443,3.0,Data Admin Concepts & Db Mgmt,Ralph T Reilly,2:00pm - 3:30pm,Su,Online
48,IST662,M401,72405,3.0,Instr Strgt & Tech/Info Profs,Megan Oakleaf,9:00pm - 10:30pm,W,Online
49,IST662,M400,72561,3.0,Instr Strgt & Tech/Info Profs,Megan Oakleaf,9:00pm - 10:00pm,Tu,Online

In [64]:
# let's generate links to the other pages
website = 'https://ischool.syr.edu/classes/?page='
for i in range(1,6):
    link = website + str(i)
    print(link)

https://ischool.syr.edu/classes/?page=1
https://ischool.syr.edu/classes/?page=2
https://ischool.syr.edu/classes/?page=3
https://ischool.syr.edu/classes/?page=4
https://ischool.syr.edu/classes/?page=5

In [50]:
# let's read them all and append them to a single data frame

website = 'https://ischool.syr.edu/classes/?page='
classes = pd.DataFrame() #  (columns = ['Course','Section','ClassNo','Credits','Title','Instructor','Time','Days','Room'])

for i in range(1,6):
    link = website + str(i)
    data = pd.read_html(website  + str(i))    
    classes = classes.append(data[0], ignore_index=True)
    
classes.sample(5)

,Course,Section,Class,Credits,Title,Instructor(s),Time,Day,Room(s)
53,IST687,M400,70893,3.0,Applied Data Science,NaN,7:00pm - 8:30pm,M,Online
172,IST972,M800,70841,3.0,School Media Practicum,Patricia C Vilello,1:00am - 1:00am,NaN,NaN
85,IST687,M401,72444,3.0,Introduction to Data Science,Mohammed A Syed,9:00pm - 10:30pm,M,Online
173,IST999,M800,70842,1.0,Dissertation,NaN,12:00am - 12:00am,NaN,NaN
22,IST605,M400,72401,3.0,Reference& Info Literacy Svces,Rebecca K. Miller,7:00pm - 8:30pm,W,Online

In [51]:
## let's set the columns

website = 'https://ischool.syr.edu/classes/?page='
classes = pd.DataFrame() 

for i in range(1,6):
    link = website + str(i)
    data = pd.read_html(website  + str(i))    
    classes = classes.append(data[0], ignore_index=True)
    
classes.columns = ['Course','Section','ClassNo','Credits','Title','Instructor','Time','Days','Room']

classes.sample(5)

,Course,Section,ClassNo,Credits,Title,Instructor,Time,Days,Room
88,IST687,M404,72476,3.0,Introduction to Data Science,Mohammed A Syed,9:00pm - 10:30pm,Th,Online
15,IST565,M403,72442,3.0,Data Mining,Dr. Ami M Gates,3:00pm - 4:30pm,Su,Online
74,IST971,M401,72478,1.0,Internship in Info Studies,Susan Monica Bonzi,12:00am - 12:00am,NaN,NaN
164,IST971,M802,70847,1.0,Internship in Info Studies,Jian Qin,12:00am - 12:00am,NaN,NaN
42,IST654,M400,70889,3.0,Information Systems Analysis,Gregory Zink,7:00pm - 8:30pm,Tu,Online

In [52]:
## this is good stuff. Let's make a function out of it for simplicity

def get_ischool_classes():
    website = 'https://ischool.syr.edu/classes/?page='
    classes = pd.DataFrame() 

    for i in range(1,6):
        link = website + str(i)
        data = pd.read_html(website  + str(i))    
        classes = classes.append(data[0], ignore_index=True)
    
    classes.columns = ['Course','Section','ClassNo','Credits','Title','Instructor','Time','Days','Room']

    return classes

# main program 
classes = get_ischool_classes()

In [53]:
# undergrad classes are 0-499, grad classes are 500 and up but we don't have course numbers!!!! So we must engineer them.

classes['Course'].str[0:3].sample(5)
classes['Course'].str[3:].sample(5)

2      471
162    755
106    971
122    718
116    687
Name: Course, dtype: object

In [54]:
# make the subject and number columns
classes['Subject'] = classes['Course'].str[0:3]
classes['Number'] = classes['Course'].str[3:]
classes.sample(5)

,Course,Section,ClassNo,Credits,Title,Instructor,Time,Days,Room,Subject,Number
94,IST720,M802,72446,2.0,Topics in Library Leadership,Rebecca Shaffer Mannion,12:00am - 1:00pm,MTuWTh,Hinds Hall 121 Online,IST,720
17,IST600,M201,70870,1.0,WISE: Graphic Novels,Blythe Bennett,12:00am - 12:00am,NaN,Online,IST,600
160,IST736,M400,72413,3.0,Text Mining,Bei Yu,5:00pm - 6:30pm,Tu,Online,IST,736
4,IST471,M001,70899,1.0,Internship in Info Mgmt & Tech,Susan Monica Bonzi,12:00am - 12:00am,NaN,NaN,IST,471
31,IST618,M401,70883,3.0,Information Policy,Martha A. Garcia-Murillo,7:00pm - 8:30pm,W,Online,IST,618

In [55]:
# and finally we can create the column we need!
classes['Type'] = ''
classes['Type'][classes['Number'] < '500'] = 'UGrad'
classes['Type'][classes['Number'] >= '500'] = 'Grad'

classes.sample(5)

,Course,Section,ClassNo,Credits,Title,Instructor,Time,Days,Room,Subject,Number,Type
98,IST736,M400,72413,3.0,Text Mining,Bei Yu,5:00pm - 6:30pm,Tu,Online,IST,736,Grad
74,IST971,M401,72478,1.0,Internship in Info Studies,Susan Monica Bonzi,12:00am - 12:00am,NaN,NaN,IST,971,Grad
0,GET471,M801,70843,1.0,GET Internship,NaN,12:00am - 12:00am,NaN,NaN,GET,471,UGrad
20,IST600,M202,72421,2.0,WISE: Soc Justice in Youth Lit,Blythe Bennett,7:00pm - 9:00pm,W,Online,IST,600,Grad
172,IST972,M800,70841,3.0,School Media Practicum,Patricia C Vilello,1:00am - 1:00am,NaN,NaN,IST,972,Grad

In [3]:
# the entire program to retrieve the data and setup the columns looks like this:

# main program 
classes = get_ischool_classes()
classes['Subject'] = classes['Course'].str[0:3]
classes['Number'] = classes['Course'].str[3:]
classes['Type'] = ''
classes['Type'][classes['Number'] < '500'] = 'UGrad'
classes['Type'][classes['Number'] >= '500'] = 'Grad'

NameError: name 'get_ischool_classes' is not defined

In [57]:
# let's fins the number of grad / undergrad courses
classes['Type'].value_counts()

# more grad classes than undergrad

Grad     167
UGrad      7
Name: Type, dtype: int64

In [58]:
# how many undergrad classes on a Friday?
friday = classes[ (classes['Type'] == 'UGrad') & (classes['Days'].str.find('F')>=0 ) ]
friday

,Course,Section,ClassNo,Credits,Title,Instructor,Time,Days,Room,Subject,Number,Type
1,IST387,M001,72570,3.0,Intro to Applied Data Science,Jeffrey Saltz,9:00am - 5:00pm,MTuWThF,Hinds Hall 018,IST,387,UGrad

In [59]:
# let's get rid of those pesky LAB sections!!!
# how many undergrad classes on a Friday?
friday_no_lab = friday[ ~friday['Title'].str.startswith('LAB:')]
friday_no_lab

,Course,Section,ClassNo,Credits,Title,Instructor,Time,Days,Room,Subject,Number,Type
1,IST387,M001,72570,3.0,Intro to Applied Data Science,Jeffrey Saltz,9:00am - 5:00pm,MTuWThF,Hinds Hall 018,IST,387,UGrad

In [60]:
# Looking for more classes to avoid? How about 8AM classes?
eight_am = classes[ classes['Time'].str.startswith('8:00am')]
eight_am

Empty DataFrame
Columns: [Course, Section, ClassNo, Credits, Title, Instructor, Time, Days, Room, Subject, Number, Type]
Index: []

In [2]:
friday['Course','Section']

NameError: name 'friday' is not defined

In [13]:
print(input("will we past 256?"))

will we past 256?yes
yes

In [16]:
json_data = '[{"GPA":3.0,"Name":"Bob"},{"GPA":3.7,"Name":"Sue"},{"GPA":2.4,"Name":"Tom "}]'
tweets = pd.read_json(json_data, orient='records') 
tweets.head()

   GPA  Name
0  3.0   Bob
1  3.7   Sue
2  2.4  Tom

In [17]:
type(json_data)

str

In [18]:
type(tweets)

pandas.core.frame.DataFrame

In [24]:
type(tweets["GPA"])

pandas.core.series.Series

In [23]:
type(tweets)

pandas.core.frame.DataFrame