# Watch Me Code 1: Pandas Basics

- Series
- DataFrame
- Select columns, Select rows with Boolean indexing

In [29]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [30]:
fruits = pd.Series(['Apple', 'Banana', 'Cherry', 'Orange'], name = "Fruit")
fruits

0     Apple
1    Banana
2    Cherry
3    Orange
Name: Fruit, dtype: object

In [31]:
qtys = pd.Series([5,7,2,9])
qtys

0    5
1    7
2    2
3    9
dtype: int64

In [32]:
# dictionary of Series
inventory = pd.DataFrame({ 'Fruit' : fruits, 'Qty' : qtys, 'Price': [2.99,1.99,3.99,2.99] })
inventory

    Fruit  Price  Qty
0   Apple   2.99    5
1  Banana   1.99    7
2  Cherry   3.99    2
3  Orange   2.99    9

In [33]:
type(inventory)

pandas.core.frame.DataFrame

In [34]:
# column selection
inventory['Fruit']

0     Apple
1    Banana
2    Cherry
3    Orange
Name: Fruit, dtype: object

In [35]:
# as DataFrame
inventory[ ['Fruit'] ]

    Fruit
0   Apple
1  Banana
2  Cherry
3  Orange

In [36]:
#two columns in the list
inventory[ ['Fruit','Price'] ]

    Fruit  Price
0   Apple   2.99
1  Banana   1.99
2  Cherry   3.99
3  Orange   2.99

In [37]:
# Boolean index
inventory['Qty'] >5

0    False
1     True
2    False
3     True
Name: Qty, dtype: bool

In [38]:

students[ students.GPA >=2.5 & students.GPA <= 3.0]

TypeError: cannot compare a dtyped [float64] array with a scalar of type [bool]

In [39]:
type( ['Fruit','Price'] )

list

In [40]:
# applying a boolean index to a dataframe
inventory[ inventory['Qty'] >5 ]

    Fruit  Price  Qty
1  Banana   1.99    7
3  Orange   2.99    9

In [41]:
#combining columns and filters
fruit_and_price_over5 = inventory[['Fruit','Price']][inventory['Qty'] >5 ] 
fruit_and_price_over5

    Fruit  Price
1  Banana   1.99
3  Orange   2.99

In [42]:
# Confused? Too hot to handle??? Use variables!
large_qty = inventory[ inventory['Qty'] >5 ]
fruit_and_price_over5 = large_qty[ ['Fruit', 'Price' ] ]
fruit_and_price_over5

    Fruit  Price
1  Banana   1.99
3  Orange   2.99

In [1]:
names = pd.Series( data = ['Allen','Bob','Chris','Dave','Ed','Frank','Gus'])
gpas = pd.Series( data = [4.0, 3.0, 3.4, 2.8, 2.5, 3.8, 3.0])
years = pd.Series( data = ['So', 'Fr', 'Fr', 'Jr', 'Sr', 'Sr', 'Fr'])
series_dict = { 'Name':  names, 'GPA': gpas, 'Year' : years }  # dict of Series, keys are the series names
students = pd.DataFrame( series_dict )
students
type(students[ students['GPA'] > 3.0 ])

NameError: name 'pd' is not defined

In [2]:
type(students[ students['GPA'] > 3.0 ])

NameError: name 'students' is not defined

In [44]:
typestudents["GPA"]>3.0

0     True
1    False
2     True
3    False
4    False
5     True
6    False
Name: GPA, dtype: bool

In [45]:
students[ students.GPA >=2.5 & students.GPA <= 3.0]

TypeError: cannot compare a dtyped [float64] array with a scalar of type [bool]

In [17]:
students[ (students.GPA >=2.5) & (students.GPA <= 3.0)]

   GPA  Name Year
1  3.0   Bob   Fr
3  2.8  Dave   Jr
4  2.5    Ed   Sr
6  3.0   Gus   Fr

In [19]:
students['GPA'] #series

0    4.0
1    3.0
2    3.4
3    2.8
4    2.5
5    3.8
6    3.0
Name: GPA, dtype: float64

In [20]:
students[['GPA']] #dataframe

   GPA
0  4.0
1  3.0
2  3.4
3  2.8
4  2.5
5  3.8
6  3.0

In [21]:
students('GPA')

TypeError: 'DataFrame' object is not callable

In [22]:
    students[GPA]

NameError: name 'GPA' is not defined

In [48]:
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

grades = pd.Series(data = [100,80,100,90,80,70], name = "Grades", dtype='int')
grades

grades = pd.Series(data = [100,80,100,90,80,70], name = "Grades") # we left off dtype='int', assumes int anyways thanks to the list
grades

0    100
1     80
2    100
3     90
4     80
5     70
Name: Grades, dtype: int64

print("first grade:",grades[0])